body {
    background-color: white;
    align-items: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
    flex-direction: column;
}

@font-family {
    font-family: 'Playfair Display', serif;

}

h1 {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 3em;
    text-align: center;

}

h2 {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 1.5em;

}
nav {
    background-color: #FDFDFD;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0px;

}

nav a {
    color: black;
    font-family: 'Playfair Display', serif;

    text-decoration: none;
    font-size: 0.9em;
    display:

}

nav a:hover {
    color: gainsboro;

}




img {
    width: 100%;
}

#skitse object {
    width: 80vw;
    height: 600px;

}

#html object {
    width: 80vw;
    height: 600px;


}
